@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#020617] text-gray-200 antialiased;
  
  overflow-y: scroll;
  scroll-behavior: smooth;
  @apply font-sans antialiased;
}
html {
    scroll-behavior: smooth;
  }  
  